{% extends "template.html" %}
{% block title %}
{{ title }}
{% endblock %}
{% block avatar %}
<i class="nav-icon fas fa-wrench"></i>
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"> {{ title }} </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Configuration</h3>
                        </div>
                        <form id="config_form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Endpoint</label>
                                        <input type="text" name="endpoint" id="endpoint" class="form-control"
                                            value="{{ endpoint }}" disabled>
                                        <label>Dashboard URL</label>
                                        <input type="text" name="dashboard_url" id="dashboard_url" class="form-control"
                                            value="{{ dashboard_url }}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-success" id="save_config_button" disabled><i
                                        class="nav-icon fas fa-save"></i>
                                    Save Configuration</button>&nbsp;&nbsp;&nbsp;<a id="change_config_result"></a>
                            </div>
                        </form>
                    </div>
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Certificates</h3>
                        </div>
                        <form id="certificate_form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Certificate (*-certificate.pem.crt)</label>
                                        <div class="custom-file">
                                            <input type="file" name="certificate" class="custom-file-input"
                                                id="certificate" accept=".pem.crt" disabled>
                                            <label class="custom-file-label" for="certificate">Choose file</label>
                                        </div>
                                        </br></br>
                                        <label>Private Key (*-private.pem.key)</label>
                                        <div class="custom-file">
                                            <input type="file" name="private_key" class="custom-file-input"
                                                id="private_key" accept=".pem.key" disabled>
                                            <label class="custom-file-label" for="private_key">Choose file</label>
                                        </div>
                                        </br></br>
                                        <label>RootCA (AmazonRootCA1.pem)</label>
                                        <div class="custom-file">
                                            <input type="file" name="root_ca" class="custom-file-input" id="root_ca"
                                                accept=".pem" disabled>
                                            <label class="custom-file-label" for="root_ca">Choose file</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-success" id="save_button" disabled><i
                                        class="nav-icon fas fa-save"></i>
                                    Upload Certificates</button>&nbsp;&nbsp;&nbsp;<a id="change_result"></a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Enable Edition</h3>
                        </div>
                        <form id="enable_form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Password</label>
                                        <input type="password" name="password" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-success"><i class="nav-icon fas fa-edit"></i>
                                    Edit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src=" https://code.jquery.com/jquery-1.12.0.min.js"> </script>

<script type="text/javascript">
    $('#enable_form').submit(function (e) {
        e.preventDefault();
        var data = {};
        var Form = this;
        var output = "";
        $.each(this.elements, function (i, v) {
            var input = $(v);
            data[input.attr("name")] = input.val();
            delete data["undefined"];
        });
        $.ajax({
            type: 'POST',
            url: '/check_pass',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data),
            context: Form,
            success: function (callback) {
                if (callback.out) {
                    toastr.success('Configuration enabled!');
                    $('#endpoint').prop('disabled', false);
                    $('#dashboard_url').prop('disabled', false);
                    $('#certificate').prop('disabled', false);
                    $('#private_key').prop('disabled', false);
                    $('#root_ca').prop('disabled', false);
                    $('#save_config_button').prop('disabled', false);
                    $('#save_button').prop('disabled', false);
                }
                else {
                    toastr.error('Wrong password!');
                    $('#endpoint').prop('disabled', true);
                    $('#dashboard_url').prop('disabled', true);
                    $('#certificate').prop('disabled', true);
                    $('#private_key').prop('disabled', true);
                    $('#root_ca').prop('disabled', true);
                    $('#save_config_button').prop('disabled', true);
                    $('#save_button').prop('disabled', true);
                }
            }
        });
    });

    $('#config_form').submit(function (e) {
        e.preventDefault();
        var data = {};
        var Form = this;
        var output = "";
        $.each(this.elements, function (i, v) {
            var input = $(v);
            data[input.attr("name")] = input.val();
            delete data["undefined"];
        });
        $.ajax({
            type: 'POST',
            url: '/cloud_config',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data),
            context: Form,
            success: function (callback) {
                if (callback.out) {
                    $('#change_config_result').html("Changes done!");
                    $('#endpoint').prop('disabled', true);
                    $('#dashboard_url').prop('disabled', true);
                    $('#save_config_button').prop('disabled', true);
                }
                else {
                    $('#change_config_result').html("Error");
                }
            }
        });
    });

    $('#certificate_form').submit(function (e) {
        e.preventDefault();
        var data = {};
        var Form = this;
        $.each(this.elements, function (i, v) {
            var input = $(v);
            data[input.attr("name")] = input.val();
            delete data["undefined"];
        });
        data["certificate"] = $('input[name=certificate]').val().split('\\').pop(); // Delete C:\\fakepath\\
        data["private_key"] = $('input[name=private_key]').val().split('\\').pop();
        data["root_ca"] = $('input[name=root_ca]').val().split('\\').pop();

        //Upload files
        var form_data = new FormData($('#certificate_form')[0]);
        $.ajax({
            type: 'POST',
            url: '/upload_certificates',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            context: Form,
            success: function (callback) {
                if (callback.out) {
                    $('#change_result').html("Certificates uploaded!");
                    $('#certificate').prop('disabled', true);
                    $('#private_key').prop('disabled', true);
                    $('#root_ca').prop('disabled', true);
                    $('#save_button').prop('disabled', true);
                }
                else {
                    $('#change_result').html("Upload error");
                }
            }
        });
    });

    $(function () {
        $(document).ready(function () {
            bsCustomFileInput.init();
        });
    })

    $(function () {
        $('#endpoint').on('keypress', function (e) {
            if (e.which == 32) {
                toastr.warning('Spaces are not allowed');
                return false;
            }
        });
    });
</script>

{% endblock %}